@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root[data-theme="dark"] {
  --color-bg: #1b1c1e;
  --color-text: #fefdfb;
  --color-primary: #0abab5;
  --color-subtle: #545455;
  --color-border-nav: #252525;
}

:root[data-theme="light"] {
  --color-bg: #fefdfb;
  --color-text: #1b1c1e;
  --color-primary: #1f827c;
  --color-subtle: #c5c5c4;
  --color-border-nav: #f2f2f2;
}

body > * {
  opacity: 0;
  transform: translateX(-30px);
  animation: fadeInUp 1s ease forwards;
  animation-delay: 0.3s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-scroll {
  opacity: 0;
  transform: translateX(-30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-scroll.visible {
  opacity: 1;
  transform: translateX(0);
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h5,
h6 {
  font-family: "Fira Code", monospace;
  font-weight: 600;
  color: var(--color-primary);
}

h4 {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--color-bg);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 2.375rem;
}

h3 {
  font-size: 1.25rem;
}

p,
button,
li {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

body {
  background: var(--color-bg);
  font-family: "Inter", sans-serif;
  color: var(--color-text);
}

.social-icons {
  display: flex;
  gap: 1.5rem;
  padding: 0.5rem 0;
}

.social-icons i {
  cursor: pointer;
  font-size: 1.5rem;
}

.social-icons i:hover {
  color: var(--color-primary);
  transition: ease-in-out 0.3s;
}

#about,
#projects,
#contact {
  scroll-margin-top: 90px;
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 4rem;
    line-height: 5rem;
  }

  h2 {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.15rem;
    line-height: 1.875rem;
  }
}
